MPU9150/node_red_xyz_first_test.txt
[{"id":"d163e372.bec84","type":"inject","z":"5463946c.618d84","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":"1","x":290,"y":280,"wires":[["e269c5f5.76b9b8"]]},{"id":"e269c5f5.76b9b8","type":"i2c in","z":"5463946c.618d84","name":"","address":"104","command":"59","count":"10","x":430,"y":280,"wires":[["35012263.c31126","67590cf7.971a44"]],"inputLabels":["104"],"outputLabels":["67"]},{"id":"35012263.c31126","type":"debug","z":"5463946c.618d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":260,"wires":[]},{"id":"b031b2ba.ecef98","type":"i2c out","z":"5463946c.618d84","name":"","address":"104","command":"105","payload":"payload","payloadType":"msg","count":"3","x":800,"y":200,"wires":[]},{"id":"1607980e.f54a5","type":"inject","z":"5463946c.618d84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":430,"y":200,"wires":[["d305c880.ccbe6"]]},{"id":"d305c880.ccbe6","type":"function","z":"5463946c.618d84","name":"i2c bytes","func":"msg.payload = [0x08];\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["b031b2ba.ecef98"]]},{"id":"67590cf7.971a44","type":"function","z":"5463946c.618d84","name":"SubString","func":"str = msg.payload \n\n\nmsg0 = {payload: str[0]};\nmsg0.topic = 'X';\nmsg1 = {payload: str[2]};\nmsg1.topic = 'Y';\nmsg2 = {payload: str[4]};\nmsg2.topic = 'Z';\n\nreturn [msg0,msg1,msg2];\n","outputs":3,"noerr":0,"x":580,"y":320,"wires":[["d28cb455.2d28b"],["3e2c86a8.5deb42"],["2a06fb62.fbf04c"]]},{"id":"d28cb455.2d28b","type":"smooth","z":"5463946c.618d84","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","x":740,"y":300,"wires":[["a26b166a.d0b92","79e86081.14513"]]},{"id":"3e2c86a8.5deb42","type":"smooth","z":"5463946c.618d84","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","x":740,"y":340,"wires":[["12bdaaad.6dd595"]]},{"id":"2a06fb62.fbf04c","type":"smooth","z":"5463946c.618d84","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","x":740,"y":380,"wires":[["23ec5c33.ff52fc"]]},{"id":"a26b166a.d0b92","type":"ui_gauge","z":"5463946c.618d84","name":"","group":"593b8d73.00f4b4","order":0,"width":"4","height":"3","gtype":"gage","title":"X","label":"X","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":300,"wires":[]},{"id":"12bdaaad.6dd595","type":"ui_gauge","z":"5463946c.618d84","name":"","group":"593b8d73.00f4b4","order":1,"width":"4","height":"3","gtype":"gage","title":"Y","label":"Y","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":340,"wires":[]},{"id":"23ec5c33.ff52fc","type":"ui_gauge","z":"5463946c.618d84","name":"","group":"593b8d73.00f4b4","order":2,"width":"4","height":"3","gtype":"gage","title":"Z","label":"Z","format":"{{value}}","min":0,"max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":380,"wires":[]},{"id":"79e86081.14513","type":"debug","z":"5463946c.618d84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":260,"wires":[]},{"id":"593b8d73.00f4b4","type":"ui_group","z":"","name":"Default","tab":"e0d80727.b39908","disp":true,"width":"12","collapse":true},{"id":"e0d80727.b39908","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]