RFID/RFID_RC522.txt
[{"id":"a1fedbdf.583e3","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"281fa511.648bd2","type":"daemon","z":"a1fedbdf.583e3","name":"RFIDReader","command":"python","args":"-u /home/pi/rfidreader.py","autorun":true,"cr":true,"redo":true,"op":"string","x":370,"y":142,"wires":[["976b8f6a.efed88"],[],[]]},{"id":"976b8f6a.efed88","type":"function","z":"a1fedbdf.583e3","name":"JSON to Object","func":"msg.payload = JSON.parse(msg.payload);\n\ncontext.Name = \"Hi  \";\ncontext.LED = \"1\";\n\nswitch(msg.payload.cardUID){\n    case \"2c72f9eb\":\n         context.Name += \"Pi4IoT\";\n        break;\n    case \"32be7eac\":\n         context.Name += \"User 2\";\n        break;    \n    default:\n         context.Name = \"access denied\";\n        context.LED = \"0\";\n}\n\nif (context.LED == \"1\"){\n    context.LED_Red = \"0\";\n    context.LED_Green = \"1\";\n    }\nelse{\n    context.LED_Red = \"1\";\n    context.LED_Green = \"0\";    \n}  \n\nvar msg1 ={payload: context.Name};\nvar msg2 ={payload: context.LED_Green};\nvar msg3 ={payload: context.LED_Red};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":548,"y":146.50001525878906,"wires":[["b59cda85.abb618","5dcf77bb.3f4178"],["215a975f.eaf918"],["11e9418b.e5a386","9cd6d28a.03e3f8","9a943c.fb4023c8"]]},{"id":"215a975f.eaf918","type":"rpi-gpio out","z":"a1fedbdf.583e3","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":852,"y":231.5,"wires":[]},{"id":"e34c3f4b.0a5e2","type":"inject","z":"a1fedbdf.583e3","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":576,"y":367.5,"wires":[["215a975f.eaf918","11e9418b.e5a386"]]},{"id":"11e9418b.e5a386","type":"rpi-gpio out","z":"a1fedbdf.583e3","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":855,"y":291.5,"wires":[]},{"id":"bd8672f8.465cb8","type":"ui_template","z":"a1fedbdf.583e3","group":"98115348.9cce18","name":"","order":2,"width":"5","height":"4","format":"<html>\n\n<svg>\n<circle cx=\"40\" cy=\"40\" r=\"22\" style=\"stroke: white; stroke-width: 3; fill: {{msg.payload}};\"/>\n\n  <style>\n    .one { font: italic 13px sans-serif; fill: yellow;}\n    .two { font: bold 30px sans-serif; }\n    .tree { font: italic 40px serif; fill: red; }\n    .four { font: bold 20px serif; fill: white; }\n  </style>\n  \n  <text x=\"40%\" y=\"30%\" class=\"four\">open the door</text>\n  <text x=\"20\" y=\"105\" class=\"one\">My</text>\n  <text x=\"40\" y=\"105\" class=\"two\">example</text>\n  <text x=\"55\" y=\"125\" class=\"one\">for</text>\n  <text x=\"65\" y=\"135\" class=\"tree\">RFID!</text>\n  <text x=\"175\" y=\"145\" class=\"four\">Pi4IoT</text>\n</svg>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":882,"y":399,"wires":[[]]},{"id":"9cd6d28a.03e3f8","type":"function","z":"a1fedbdf.583e3","name":"dev/10","func":"var str = msg.payload;\nif (str == \"0\"){\n  msg =  { payload:\"lime\" };  \n}\nelse{\n  msg =  { payload:\"red\" }; \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":748,"y":401,"wires":[["bd8672f8.465cb8"]]},{"id":"b59cda85.abb618","type":"ui_text","z":"a1fedbdf.583e3","group":"98115348.9cce18","order":1,"width":"0","height":"0","name":"","label":"ID:","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","x":792,"y":171,"wires":[]},{"id":"78b19265.518134","type":"inject","z":"a1fedbdf.583e3","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":574,"y":421,"wires":[["9cd6d28a.03e3f8"]]},{"id":"9a943c.fb4023c8","type":"delay","z":"a1fedbdf.583e3","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":553,"y":229,"wires":[["22a66968.2b68ae"]]},{"id":"22a66968.2b68ae","type":"function","z":"a1fedbdf.583e3","name":"JSON to Object","func":"context.LED_Red = \"1\";\ncontext.LED_Green = \"0\";    \ncontext.Name = \"\";\nvar msg1 ={payload: context.Name};\nvar msg2 ={payload: context.LED_Green};\nvar msg3 ={payload: context.LED_Red};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":570,"y":300,"wires":[["b59cda85.abb618"],["215a975f.eaf918"],["9cd6d28a.03e3f8","11e9418b.e5a386"]]},{"id":"5dcf77bb.3f4178","type":"ui_audio","z":"a1fedbdf.583e3","name":"","group":"98115348.9cce18","voice":"","always":"","x":824,"y":120,"wires":[]},{"id":"98115348.9cce18","type":"ui_group","z":"","name":"RFID-RC522","tab":"b68328b0.7a1cc8","order":1,"disp":true,"width":"5","collapse":false},{"id":"b68328b0.7a1cc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2}]
