waterLevel_moisture_NdoeRED/water_moisture_NdoeRED.txt
[{"id":"4c31873.1f3db78","type":"exec","z":"97007507.3f8eb8","command":"python ad1115.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":297,"y":209,"wires":[["4144da0a.732de4"],[],[]]},{"id":"9997bb17.d81ca8","type":"inject","z":"97007507.3f8eb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":209,"wires":[["4c31873.1f3db78"]]},{"id":"dc097a82.df2558","type":"ui_gauge","z":"97007507.3f8eb8","name":"","group":"2b3d76b5.53b31a","order":0,"width":"6","height":"5","gtype":"gage","title":"measuring container level","label":"mm","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":705,"y":188,"wires":[]},{"id":"4144da0a.732de4","type":"function","z":"97007507.3f8eb8","name":"convert","func":"str = msg.payload;\nvar partsOfStr = str.split(',');\n\nvar ad1 = (Number(partsOfStr[0]-2175)/43);\nmsg1 = {payload: ad1.toFixed(1)};\n\nvar ad2 = (Number(partsOfStr[1])/200);\nif(ad2 > 100){\n    ad2 = 100;\n    }\nif (ad2 < 0){\n    ad2 = 0;\n    }   \nmsg2 = {payload: ad2.toFixed(1)};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":469,"y":196,"wires":[["dc097a82.df2558","91d4d419.a09f68"],["9729e08f.dbe4"]]},{"id":"91d4d419.a09f68","type":"debug","z":"97007507.3f8eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":672,"y":284,"wires":[]},{"id":"9729e08f.dbe4","type":"ui_gauge","z":"97007507.3f8eb8","name":"","group":"2b3d76b5.53b31a","order":0,"width":"6","height":"5","gtype":"gage","title":"moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":658,"y":235,"wires":[]},{"id":"2b3d76b5.53b31a","type":"ui_group","z":"","name":"Default","tab":"16ec7043.17f57","disp":true,"width":"12","collapse":false},{"id":"16ec7043.17f57","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
